@model w15_1.Models.Clienti
@{
    ViewBag.Title = "EditClienti";
}

<h2 class="text-center">Modifica Cliente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="Form" class="  border text-center text-white border-primary rounded-3 mt-4 p-3 mx-auto w-50 d-flex flex-column justify-content-center">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group mx-auto">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "mb-2" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group mx-auto">
            @Html.LabelFor(model => model.Indirizzo, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Indirizzo, new { htmlAttributes = new { @class = "mb-2" } })
                @Html.ValidationMessageFor(model => model.Indirizzo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group mx-auto " id="CF">
            @Html.LabelFor(model => model.CodiceFiscale, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodiceFiscale, new { htmlAttributes = new { @class = "mb-2" } })
                @Html.ValidationMessageFor(model => model.CodiceFiscale, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group mx-auto" id="PI">
            @Html.LabelFor(model => model.PartitaIva, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PartitaIva, new { htmlAttributes = new { @class = "mb-2" } })
                @Html.ValidationMessageFor(model => model.PartitaIva, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group mx-auto">
            @Html.LabelFor(model => model.Città, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Città, new { htmlAttributes = new { @class = "mb-2" } })
                @Html.ValidationMessageFor(model => model.Città, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group mx-auto">
            @Html.LabelFor(model => model.IsAzienda, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                si:@Html.EditorFor(model => model.IsAzienda, new { htmlAttributes = new { @class = "mb-2" } })
                no: <input type="checkbox" id="Check" name="Check" value="" />
                @Html.ValidationMessageFor(model => model.IsAzienda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mx-auto">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>



}


@section scripts{

    <script type="text/javascript">
        $("#CF").hide()

      $(document).ready(function () {
          $("#Check").change(function () {
              if ($("#Check").is(':checked')) {
                  console.log("true");
                  $("#CF").show()
                  $("#PI").hide()
              } else {
                  console.log("false");
                  $("#CF").hide()
                  $("#PI").show()
              }
          })

      })
    </script>

}